/*
Theme Name: Panderp
Theme URI: http://www.pandero.com.pe/
Description: Portal Web Pandero
Author: Tresmasuno
Author URI: http://www.tresmasuno.pe
Version: 1
*/

.logo
	img
		width 112px
		border 1px solid #000